@font-face {
  font-family: 'Quicksand';
  src: url('../assets/fonts/Quicksand-Regular.ttf');
}
@font-face {
  font-family: "Overpass";
  src: url("../assets/fonts/Overpass-ExtraBold.ttf");
}
@font-face {
  font-family: "Urbanist";
  src: url("../assets/fonts/Urbanist-VariableFont_wght.ttf");
}

html {
  font-size: 62.5%;
}

/*CHANGE_BACKGROUND_ON_JAVASCRIPT.*/
:root{
  --blueBackGround: #2a9df4;
  --greenBackGround: #3ddb45;
  --redBackGround: #C21807;
}

/*LAPTOP_SCREEN_SIZE...*/
body {
  background-color: var(--blueBackGround);
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  transition: 0.3s ease;
}

.right-answer-background {
  background-color: var(--greenBackGround); 
}

.wrong-answer-background {
  background-color: var(--redBackGround); 
}

.question-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.question-section > img {
  margin: 2rem 0;
  width: 50rem;
  height: 30rem;
  border-radius: 3rem;
  box-shadow: -3rem 1rem 6rem rgba(0, 0, 0, 0.4);
}

.question-section > h1 {
  font: 4rem 'Overpass', Arial, sans-serif;
  margin: 4.5rem 0;
  color: #FFFFFF;
}

.all-labels {
  display: flex;
}

.labels {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
}

.labels > .radios {
  display: none;
}

.labels > .radios + p {
  margin: 0 1rem 4rem 1rem;
  font: 3.5rem 'Quicksand', Arial, sans-serif;
  transition: all 0.2s ease;
  padding: 1rem 3rem;
  border-radius: 3rem;
  color: #000000;
  background-color: #e9dbdb;
}

.labels > .radios + p:hover {
  cursor: pointer;
  background-color: #FFFFFF;
}

.next-question-div {
  display: flex;
  justify-content: center;
  margin: 0 0 2.5rem 0;
}

.next-question-btn {
  font: 2.5rem 'Quicksand', Arial, sans-serif;
  background: none;
  border: none;
}

.next-question-btn:hover {
  cursor: pointer;
}

.my-footer {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: #1c1c55;
}

.my-footer > p {
  color: #FFFFFF;
  font: 2.5rem 'Urbanist', Arial, sans-serif;
}

.quiz-end-div {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.quiz-end-div > p {
  font: 5.5rem 'Overpass', Arial, sans-serif;
  color: #FFFFFF;
}

/*DESKTOP_SCREEN_SIZE...*/

/*TODO: I_ONLY_NEED_TO_CHANGE_THE_WIDTHS_OF_IMAGES_OR_FONTS_OND_THE_MEDIA_QUERYS... */